DEBUG=1
SECRET_KEY=your-secret-key-here
DJANGO_SETTINGS_MODULE=voicepay.settings
DATABASE_URL=postgres://<user>:<password>@db:5432/<dbname>
ALLOWED_HOSTS=localhost,127.0.0.1,voicepay-auth
NEW_RELIC_LICENSE_KEY=your-license-key-here
NEW_RELIC_APP_NAME=voicepay-auth
NEW_RELIC_HOST=collector.newrelic.com
